.profileContainer {
  display: flex;
  align-items: center;
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
  width: 100%;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}

.profileContainer div:last-child {
  display: flex;
  justify-content: flex-end;
}

.profileContainer button {
  right: 0;
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 5px;
  background: var(--gray-line);
  color: var(--text);
  transition: background-color 0.2s;
  outline: 0
}

.profileContainer button:hover {
  background: var(--red);
  color: var(--white);
}